Application.API/WebAPI/.vs/EmployeeAPI/v15/Server/sqlite3/storage.ide-wal
Application.API/WebAPI/.vs/EmployeeAPI/v15/Server/sqlite3/storage.ide-shm
Application.API/WebAPI/.vs/EmployeeAPI/v15/Server/sqlite3/storage.ide
Application.API/WebAPI/.vs/EmployeeAPI/v15/Server/sqlite3/db.lock
